/*Reset du CSS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

a {
    color: inherit;
}

/*Contenu*/
body {
    color: #888;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

a {
    border-bottom: 2px solid #e5e5e5;
}

a[href^='mentions'] {
    border: none;
}

    a:hover {
        border-bottom: none;
        color: #fd887a;
        text-decoration: none;
    }

header {
    margin-bottom: 30px;
    text-align: initial;
}

/*Généralités*/
.my-modal {
    background: #000;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-modal-content {
    background: #fff;
    border: 4px solid #e5e5e5;
    padding: 20px;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.letter-space {
    letter-spacing: 0.2rem;
}

.i-style {
    padding-right: 8px;
    color: #e5e5e5;
}

/*Menu de navigation*/
#burger-toggle {
    background: #f0f0f0;
    border: none;
    border-radius: 4px;
    color: #888;
    margin-bottom: 2px;
    margin-top: 10px;
    padding: 5px 20px;
    box-shadow: 2px 2px #dbdbdb;
}

.hidden {
    display: none;
}

#nav-menu {
    background: #444;
    color: #fff;
    text-transform: uppercase;
}

    #nav-menu span {
        display: none;
    }

    #nav-menu ul {

    }

    #nav-menu a {
        border: none;
        display: block;
    }

    #nav-menu li {
        padding-bottom: 5px;
        padding-left: 10px;
        padding-top: 5px;
    }

    #nav-menu li:hover > ul {
        display: block;
    }

    #nav-menu li ul {
        padding-left: 10px;
        color: #999;
        display: none;
    }
/*Titres, paragraphes, contenus*/
h1, .titre_style {
    color: #ed786a;
    font-family: 'Arvo', serif;
    font-weight: 700;
    margin-bottom: 15px;
}

h2 {
    color: #888;
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
}

h3 {
    color: #666;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.3rem;
}

p {
    font-weight: 300;
}

section, .articles-request {
    margin-bottom: 30px;
}

footer {
    background: #e5e5e5;
    border-top: 2px solid #dbdbdb;
    padding: 15px 25px;
    text-align: initial;
}

    footer > h3 {
        text-align: center;
    }

.padding-align {
    padding-bottom: 20px;
}

.social-media {
    border-bottom: 2px solid #dbdbdb;
    padding-bottom: 120px;
    padding-top: 20px;
}

    .social-media .row .col-md-6 > div {
        margin-bottom: 30px;
    }

    .social-media span {
        margin-right: 15px;
    }

    .social-media p {
        display: inline-flex;
    }

    .social-media span :last-child {
        color: #e5e5e5;
    }

.flex-media {
    display: flex;
}

.footer-mandatory {
    padding-top: 60px;
    text-align: center;
}

.margin_user {
    /*margin-right: 40px;*/
}

.user-flex {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.user-flex-line {
    display: flex;
    justify-content: space-between;
}

.user-fetch {
    width: 80px;
}

.title-reset {
    color: inherit;
    font-family: inherit;
}
/*Bordures*/
.down-border {
    border-bottom: 2px solid #e5e5e5;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.up-border {
    border-top: 2px solid #e5e5e5;
    padding-top: 30px;
}

.gray-border {
    border-bottom: 2px solid #e5e5e5;
    margin-top: 30px;
}

.social-media a {
    border-bottom: 2px solid #dbdbdb;
}

    .social-media a:hover {
        border: none;
    }

.post-border {
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 40px;
}

.post-top {
    margin-top: 40px;
}

/*Images*/
img {
    border: 4px solid #e5e5e5;
}

.banner {
    background: url("../images/banner.jpg");
    color: #e5e5e5;
    font-weight: 600;
    height: 30vh;
    position: relative;
    text-transform: uppercase;
}

    .banner p {
    position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

.banner-border {
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    margin-bottom: 60px;
    margin-top: 60px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.float-left {
    padding-right: 30px;
}

.float-style p {
    text-align: justify;
}

.author {
    font-style: italic;
}

.fa-2x {
    font-size: 0.8em !important;
}

/*Liens et boutons*/
.expand {
    background: #ed786a;
    border-radius: 4px;
    border: none;
    clear: both;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 13px 65px 13px 65px;
    text-transform: uppercase;
}

.date-news {
    background: #666;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2px 20px;
}

    .expand:hover {
        background: #ef897c;
        color: #fff;
    }

/*Formulaires*/
.form-control {
    background: #f0f0f0;
}

#form_submit {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
}
label {
    color: #cc0000;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}


.backend_label {
    color: #6c757d;
    padding-left: 0;
}

#perma_co {
    width: auto;
}

/*Media queries*/
/*Au-delà du smartphone*/
@media (min-width: 768px) {
    .expand {
        padding: 8px 24px;
    }

    section {
        text-align: initial;
    }

    .social-media {
        border: none;
    }

    footer > div[class="original-border"] {
        border-bottom: 2px solid #dbdbdb;
    }

    .footer-mandatory {
        display: flex;
        justify-content: center;
    }

    .copyright {
        padding-right: 15px;
        border-right: 2px solid #dbdbdb;
    }

    .cgu {
        padding-left: 15px;
    }
}
/*Smartphone mode paysage et tablettes uniquement*/
@media (min-width: 768px) and (max-width: 991px) {
    .banner {
        height: 40vh;
        font-size: 1.4rem;
    }
}

/*PC uniquement*/
@media (min-width: 992px) {
    #burger-toggle {
        display: none;
    }
    #nav-menu {
        background: initial;
        display: block;
    }

    #nav-menu > ul {
        color: #888;
        display: flex;
        justify-content: space-between;
    }

    #nav-menu li:hover > a {
        background: initial;
    }

    #nav-menu li:hover > ul {
        display: none;
    }

.popover-body {
    padding: 0;
}

.ul-popover li, .second-level li {
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 20px 5px 5px;
}

    .second-level li:last-child {
        border: none;
        padding-bottom: 0;
    }

.ul-popover {
    margin-bottom: 0;
}

.ul-popover a, .second-level a {
    border: none;
}

.ul-popover ul {
    display: none;
}

.ul-popover + ul > li {
    border: none;
}

.popover {
    opacity: 0.9;
}
/*Reprise et modification du popover d'origine pour le 2ème popover tout en laissant l'original intact*/
.popover2 {
    position: absolute;
    top: 0;
    left: 24px !important;
    z-index: 1060;
    display: block;
    max-width: 276px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: 0.875rem;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    opacity: 0.9;
}

    .banner {
        height: 50vh;
        font-size: 1.8rem;
    }

    #nav-menu span :last-child {
        color: #e5e5e5;
    }

    #nav-menu ul > li:hover span {
        color: #ed786a;
    }

    #nav-menu ul > li:hover a {
        color: #ed786a;
    }

    #nav-menu ul > li {
        display: flex;
    }

    #nav-menu span {
        display: inline-block;
    }
}